<div class="jumbotron">
  <div class="container">
    <p class="text-center" style="font-size: 400%">Bienvenido al Gestor de Salas de Computo de la Universidad Icesi</hp>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p class="text-right">Seleccione una sala de computo</p>
    </div>
    <div class="col-lg-6">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Seleccione una sala
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let sala of salas">
            <button class="dropdown-item" href="#" (click)="cambiarSala(sala)">{{ sala.nombre }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let computador of computadores" class="col-lg-3">
      <div class="box">
        <p class="text-center">
          <i class="fas fa-desktop fa-4x"></i>
        </p>
        <h3 class="text-center text-secondary font-ubuntu">{{ computador.idComputador }}</h3>
        <hr>
        <div *ngIf="computador.estado=='Disponible'" style="background: #bceb00; color: white; font-size: 140%">
          <p class="text-center">{{ computador.estado }}</p>
        </div>
        <div *ngIf="computador.estado=='Ocupado'" style="background: #e30500; color: white; font-size: 140%">
          <p class="text-center">{{ computador.estado }}</p>
        </div>
        <hr>
        <p class="font-ubuntu text-center">Última conexión</p>
        <p class="font-ubuntu text-center">{{ computador.last_connection }}</p>
      </div>
    </div>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Día</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha finalización</th>
        <th scope="col">Actividad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
          <th scope="row">{{ reserva.id }}</th>
          <th>{{ reserva.dia_id }}</th>
          <th>{{ reserva.fecha_inicio }}</th>
          <th>{{ reserva.fecha_fin }}</th>
          <th>{{ reserva.descripcion }}</th>
      </tr>
    </tbody>
  </table>
</div>